<div class="home">
  <div class="block1">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="frame">
            <h1>Um livro <span>muda a vida</span></h1>
            <img src="/assets/img/home-play.svg" class="play" alt="Clique para assistir" data-toggle="modal" data-target="#modal">
            <img src="/assets/img/home-play.svg" class="play" alt="Clique para assistir" onclick="createIframe()">

          </div>
          <a href="http://doe.vagalume.org.br" class="doar">Doe agora</a>
        </div>

        <div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expedição Vaga Lume - 15 anos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xt2qJwwnH2U"></iframe>
                  </div>
              </div>
              <div id="player"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
  }

  function createIframe() {
    player = new YT.Player('player', {
      height: '200',
      width: '300',
      videoId: 'xt2qJwwnH2U',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    $('img').click(function() { 
      ytPlayer.playVideo();
    });
    event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      //setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
