.home {
  margin-top: px_to_em(88px);

  & .block1 {
    background-image: url("/assets/img/home-block1.jpg");
    background-size: cover;
    background-position: top center;
    padding: px_to_em(120px) 0 px_to_em(150px);
 
    & .frame {
      border: px_to_em(4px) solid $orangey-yellow;
      height: px_to_em(440px);
      text-align: center;

      & h1 {
        font-family: 'Amatic SC', cursive;
        display: block;
        color: $white;
        font-size: px_to_em(110px);
        font-weight: bold;
        margin-top: 60px;
        text-transform: uppercase;
        white-space: nowrap;
      }

      & .play {
        display: block;
        margin: 30px auto 0;
        width: px_to_em(118px);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .modal-dialog {
      max-width: 90%;
    }
  }

  & .doar {
    background-color: $orangey-yellow;
    color: $black;
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: px_to_em(52px);
    font-weight: bold;
    margin: -39px auto 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: px_to_em(100px);
  }
}

@media (max-width: 767px) {
  .home {
    .block1 {
      & .frame {
        & h1 {
          font-size: px_to_em(72px);
          margin-top: 40px;

          & span:before {
            content: "\a";
            white-space: pre;
          }
        }

        & .play img {
          width: px_to_em(80px);
        }
      }

      & .doar {
        font-size: px_to_em(40px);
        width: 70%;
      }
    }

    .modal .modal-dialog {
      max-width: auto;
    }
    .modal-body iframe {
      width: 100% !important;
    }
  }
}

